# Pusher (https://dashboard.pusher.com adresinden alınır)
NEXT_PUBLIC_PUSHER_KEY=
NEXT_PUBLIC_PUSHER_CLUSTER=eu
PUSHER_APP_ID=
PUSHER_SECRET=

# Uygulama URL'si (Vercel'de otomatik atanır, yerelde http://localhost:3000)
NEXT_PUBLIC_APP_URL=http://localhost:3000